<style>
    body {
        background-color: #1d1d1d;
        font-family: 'Arial', sans-serif;
        color: #ffffff;
    }

    .container {
        margin-top: 50px;
    }

    .card {
        background-color: #2a2a2a;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
    }

    h2 {
        color: #ffffff;
    }

    .form-signup {
        margin-top: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        color: #aaaaaa;
    }

    /* Updated text field styles */
    .form-control {
        color: #dddddd;
        background-color: #333333;
        border: 1px solid #444444;
        border-radius: 4px;
        padding: 10px;
    }

    .form-control:focus {
        border-color: #4CAF50;
        box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25);
    }

    .btn-primary {
        background-color: #4CAF50;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #45a049;
    }
</style>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-signup' }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="form-group">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, class: 'form-control', autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
          </div>

          <div class="form-group">
            <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
